<?xml version="1.0" encoding="utf-8"?>
<publishData>
  <publishProfile
    profileName="wlsolutions-002-site10 - Web Deploy"
    publishMethod="MSDeploy"
    publishUrl="https://win8133.site4now.net:8172/msdeploy.axd?site=wlsolutions-002-site10"
    msdeploySite="wlsolutions-002-site10"
    userName="wlsolutions-002"
    userPWD="WL2015S0lut22"
    destinationAppUrl="http://wlsolutions-002-site10.gtempurl.com/"
    SQLServerDBConnectionString=""
    mySQLDBConnectionString=""
    />
  <publishProfile
    profileName="wlsolutions-002-site10 - FTP"
    publishMethod="FTP"
    publishUrl="ftp://win8133.site4now.net:21/site10"
    ftpPassiveMode="True"
    userName="wlsolutions-002"
    userPWD="WL2015S0lut22"
    destinationAppUrl="http://wlsolutions-002-site10.gtempurl.com/"
    SQLServerDBConnectionString=""
    mySQLDBConnectionString=""
    />
</publishData>