<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Lessie.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="FRONTEND_ORIGIN" value="http://monstrinho.local:81" />
          <environmentVariable name="CONNECTION_STRING" value="Data Source=SQL8011.site4now.net;Initial Catalog=db_a8eb93_lessie;User Id=db_a8eb93_lessie_admin;Password=Theo45@Izadora;Encrypt=True;TrustServerCertificate=True;" />
          <environmentVariable name="JWT_SECRET" value="dev-only-hardcoded-secret-with-32-chars-minimum" />
          <environmentVariable name="JWT_ISSUER" value="Lessie" />
          <environmentVariable name="JWT_AUDIENCE" value="Lessie.FrontEnd" />
          <environmentVariable name="JWT_ACCESS_TOKEN_MINUTES" value="15" />
          <environmentVariable name="REFRESH_TOKEN_DAYS" value="30" />
          <environmentVariable name="PROVIDER_KEY_ENCRYPTION_KEY" value="dev-only-provider-key-encryption-secret" />
          <environmentVariable name="GOOGLE_CLIENT_ID" value="465394213386-0kqcqu1ialvno3st14ifd8h82fc4ga23.apps.googleusercontent.com" />
          <environmentVariable name="MERCADO_PAGO_PUBLIC_KEY" value="APP_USR-65820e23-73ea-429e-9662-2f90634cb075" />
          <environmentVariable name="MERCADO_PAGO_ACCESS_TOKEN" value="APP_USR-994637805861911-072218-7b693f287c34dc94457b1e2301a8e989-3522374369" />
          <environmentVariable name="MERCADO_PAGO_WEBHOOK_SECRET" value="" />
          <environmentVariable name="MERCADO_PAGO_NOTIFICATION_URL" value="http://wlsolutions-002-site10.gtempurl.com/api/payments/mercado-pago/webhook" />
          <environmentVariable name="GROQ_MODEL" value="openai/gpt-oss-120b" />
          <environmentVariable name="POLLINATIONS_MODEL" value="gpt-5.4" />
          <environmentVariable name="DEV_ADMIN_ACCESS_KEY" value="LessieDevAdminKey_2026!" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
